html {
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
}

body {
    margin: 0px;
    background-color: lightgrey;    
}

header {
    background-color: black;
    color: #fdc945;
    margin: 0px;
    text-align: center;
}

h1 {
    padding: 20px;
    margin: 0px;
    font-variant: small-caps;
}

nav {
    justify-content: space-around;
    align-items: center;
    border: 2px solid #fdc945;
    display: flex;
    flex-direction: column;
}

a {
    padding: 5px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.currentPage {
    color: #fdc945;
    font-size: 1.5em;
}

a:hover {
    color: #fdc945;
    text-decoration: underline;
}

main {
    margin: 10px;
    text-align: center;
}

select {
    background-color: white;
}
/* input */

button {
    background-color: black;
    color: #fdc945;
    font-variant: all-petite-caps;
    border-radius: 6px;
}

button:hover {
    background-color: #fdc945;
    color: black;
    border: 1px solid black;
}

button:active {
    background-color: grey;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    display: flex;
    flex-direction: column;
}

th {
    background-color: black;
    color: #fdc945;
    padding: 5px;
}

td {
    border: 1px solid grey;
    padding: 2px;
}



footer {
    margin: 20px;
    text-align: center;
    font-size: 0.8em;
}

@supports (display: grid){
	@supports(grid-area: auto){
        @media only screen and (min-width: 320px){
            nav {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
            .productTable tr, .inventoryTable tr, .binTable tr, .orderTable tr, .cartTable tr {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-areas:
                "product product product product"
                "edit edit delete delete";
                border: 2px solid black;
            }
            .productTable tr td:nth-child(5), .productTable tr th:nth-child(5), .inventoryTable tr td:nth-child(5), .inventoryTable tr th:nth-child(5){
                grid-area: edit;
            }
            .productTable tr td:nth-child(6), .productTable tr th:nth-child(6), .inventoryTable tr td:nth-child(6), .inventoryTable tr th:nth-child(6){
                grid-area: delete;
            }
        }
        @media only screen and (min-width: 846px){
            nav {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            }
            tr {
                border: none !important;
            }
            .productTable tr, .inventoryTable tr {
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-areas: "product product product product edit delete";
            }
        }
    }
}